header {
    background: rgb(225, 127, 190);
    width: fit-content;
}

img {
    object-fit: cover;
    max-width: 100%
}

header nav ul li {
    font-size: 2em;
    font-family: "Apple Chancery", cursive;
    text-align: center;
    list-style-type: none;

}

header nav ul li a {
    color: black;
}

