body {
    background-color: rgb(255, 212, 235);
    width: fit-content;
    font-family: "Adelle Sans Devanagari", serif;
}

header {
    font-family: "Apple Chancery", serif;
    font-size: 2em;
    text-align: center;
}

form {
    font-size: 1.5em;
    text-align: center;
}

img {
    object-fit: cover;
    max-width: 100%
}

input[type=submit] {
    appearance: none;
    padding: 10px;
    border: none;
    background-color: #ff9eef;
    border-radius: 5px;
}